body {
    
}

#active {
    background-color: white;
    color: steelblue;
}

nav, footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
  border: 2px solid blue;
  text-align: center;
}

a {
  color: white;
  margin: 40px;
}

h1 {
  text-align: center;
  color: steelblue;
}

img {
  width: 80%;
  /*border: 2px solid steelblue;*/
  display: block;
  margin: 0 auto;
}


/*p {
  padding: 10px;
}*/

p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

footer {
  background-color: steelblue;
  color: white;
  text-align: center;
}
footer p {
  font-size: 20px;
  margin: 20px auto;
}

.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}

a:hover {
  background-color: white;
  color: steelblue; 
}