body {
  margin: 0
}

#active {
  background-color: white;
  color: steelblue;
}

nav{
  background-color: steelblue;
  color: white;
  padding: 25px;
  border: 2px solid blue;
  text-align: center;
}

a {
  color: white;
  margin: 40px;
  padding: 25px;
}

h1 {
  text-align: center;
  color: steelblue;
  margin: 50px 0;

}

img {
  width: 80%;
  border: 4px solid steelblue;
  display: block;
  margin: 0 auto;
}

p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

footer {
  background-color: steelblue;
  color: white;
  text-align: center;
  padding: 10px;
  border: 2px solid blue;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;

}

.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 50px auto;
}

a:hover {
  background-color: white;
  color: steelblue; 
}